<!-- posts/templates/posts/edit-post.html -->

{% extends "admin-site/base.html" %}
{% block title %}
    Edit Menu | {{ block.super }}
{% endblock title %}
{% block content %}
    <h4><small>Edit Menu</small></h4>
    <hr>
    <div class="card-body">
        <div class="table-responsive">
            <form action="{% url 'update-menu' object.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="comment">Name<span style="color: red">*</span> :</label>
                    <input type="text" class="form-control" rows="5" name="name" value="{{object.name}}" required>
                </div>
                <div class="form-group">
                    <label for="comment">Description<span style="color: red">*</span> :</label>
                    <textarea class="form-control" rows="5" name="description" required>{{object.description}}</textarea>
                </div>
                <button class="btn btn-secondary" type="submit">Update Menu</button>
            </form>
        </div>
    </div>
{% endblock content %}